{%load static%}

<link rel="stylesheet" href="{% static 'styles/header.css' %}">

<header>
    <div class="container">
        <div class="header__inner">
            <div class="header-logo">
                Romanov Development
            </div>
            <div class="header-nav">
                <nav>
                    <a href="/blogs">Главная</a>
                    <a href="/blogs">Блог</a>
                    <a href="/projects">Проекты</a>
                </nav>
            </div>
        </div>    
    </div>
</header>